@import "../../vars";

.hiro {
  height: inherit;
  width: inherit;
  @extend .flexCenter;
  justify-content: space-around;
}

// .headContainer {
//   height: 40%;
//   justify-content: space-around;
// }
.buttensBar {
  @extend .flexCenter;
  gap: 10px;
  width: 100%;
  height: 17%;
}
.buttensBar > button {
  height: 55%;
}
